node_modules
dist
.firebase/

*.tsbuildinfo

firebase-debug.log
firestore-debug.log
ui-debug.log
dist-ssr
.vite
*.local
.DS_Store
.env*

tools/extract-cosmetics/.venv/
tools/extract-cosmetics/__pycache__/

repo-save-editor-deprecated/node_modules/
repo-save-editor-deprecated/.next/
